/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url('https://fonts.googleapis.com/css?family=Signika:400light,700light');

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

// fonts
$font-family-sans-serif: Lato, sans-serif !default;

//$font-family-sans-serif: "Open Sans", sans-serif !default;

// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$link-color: #F14124 !default;
$selection-bg: rgba(0, 0, 0, 0.99);

// headings
$presentation-heading-font: Signika, sans-serif !default;
$presentation-heading-color: #213c96 !default;

// My added divs

// Definitions 
.definition{
  margin: 1em 0;
  border: 3px solid #4FADF3;
  border-radius: 10px;
  padding-bottom: 5px;
}
.def-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #4FADF3;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}
.def-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 15px;
}

// Theorem
.theorem{
  margin: 1em 0;
  border: 3px solid #A7EA52;
  border-radius: 10px;
  padding-bottom: 5px;
}
.thm-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #A7EA52;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}
.thm-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

// Proposition
.proposition{
  margin: 1em 0;
  border: 3px solid #F14124;
  border-radius: 10px;
}

.prop-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #F14124;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.prop-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

// Axiom
.axiom{
  margin: 1em 0;
  border: 3px solid #d9534f;
  border-radius: 10px;
}

.axiom-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #d9534f;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.axiom-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

// Proof
.proof1{
  margin: 1em 0;
  border: 3px solid #FF8021;
  border-radius: 10px;
  padding-bottom: 5px;
}

.proof-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #FF8021;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.proof-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: white;
}

// Example
.example{
  border-radius: 10px;
  margin: 1em 0;
  border: 3px solid #F1CF58;
}

.ex-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #F1CF58;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.ex-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

// Fact
.fact{
  border-radius: 10px;
  margin: 1em 0;
  border: 3px solid #34AC8B;
  padding-bottom: 5px;
}

.fact-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  padding-right: 15px;
  color: white;
  background-color: #34AC8B;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.fact-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 10px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

// Learning Objectives
.lob{
  margin-left: 0em;
  padding-left:  25px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #213c96;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  border-radius: 15px;
}

// highlight equation
.heq{
  margin-left: 0em;
  padding-left:  25px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #75bfab;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  border: 15px solid #34AC8B;
}

// highlight
.hl{
  margin-left: 0em;
  padding-left:  25px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  padding-right:  25px;
  color: white;
  background-color: #F14124;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  border-radius: 15px;
}


code.sourceCode {
  font-size: 1.7em;
  /* or try font-size: xx-large; */
}

div.cell-output-stdout {
  font-size: 1.5em;
}

.styled-output .cell-output {
  font-size: 1.5em;
}


// regression analysis process 1
.RAP1{
  margin: 1em 0;
  border: 7px solid #FF8021;
  border-radius: 10px;
}

.RAP1-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #FF8021;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.RAP1-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: #FAD3B7;
}

// regression analysis process 2
.RAP2{
  margin: 1em 0;
  border: 7px solid #34AC8B;
  border-radius: 10px;
}

.RAP2-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #34AC8B;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.RAP2-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: #BCDCD0;
}

// regression analysis process 3
.RAP3{
  margin: 1em 0;
  border: 7px solid #A7EA52;
  border-radius: 10px;
}

.RAP3-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #A7EA52;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.RAP3-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: #E3F6C6;
}





