/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url('https://fonts.googleapis.com/css?family=Signika:400light,700light');

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

// fonts
$font-family-sans-serif: Lato, sans-serif !default;

//$font-family-sans-serif: "Open Sans", sans-serif !default;

// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$link-color: #F14124 !default;
$selection-bg: rgba(0, 0, 0, 0.99);

// headings
$presentation-heading-font: Signika, sans-serif !default;
$presentation-heading-color: #213c96 !default;

// code blocks
// $code-block-border-color: lighten($link-color, 30%) !default;
// $code-block-bg: transparent !default;

// My added divs

// Definitions 
.definition{
  margin: 1em 0;
  border: 3px solid #4FADF3;
  border-radius: 10px;
  padding-bottom: 5px;
}
.def-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #4FADF3;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}
.def-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 15px;
}

// Theorem
.theorem{
  margin: 1em 0;
  border: 3px solid #A7EA52;
  border-radius: 10px;
  padding-bottom: 5px;
}
.thm-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #A7EA52;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}
.thm-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

// Proposition
.proposition{
  margin: 1em 0;
  border: 3px solid #F14124;
  border-radius: 10px;
}

.prop-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #F14124;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.prop-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

// Axiom
.axiom{
  margin: 1em 0;
  border: 3px solid #d9534f;
  border-radius: 10px;
}

.axiom-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #d9534f;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.axiom-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

// Proof
.proof1{
  margin: 1em 0;
  border: 3px solid #FF8021;
  border-radius: 10px;
  padding-bottom: 5px;
}

.proof-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #FF8021;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.proof-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: white;
}

// Example
.example{
  border-radius: 10px;
  margin: 1em 0;
  border: 3px solid #F1CF58;
}

.ex-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #F1CF58;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.ex-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

// Fact
.fact{
  border-radius: 10px;
  margin: 1em 0;
  border: 3px solid #34AC8B;
  padding-bottom: 5px;
}

.fact-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  padding-right: 15px;
  color: white;
  background-color: #34AC8B;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.fact-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 10px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

// Learning Objectives
.lob{
  margin-left: 0em;
  padding-left:  25px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #213c96;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  border-radius: 15px;
}

// highlight equation
.heq{
  margin-left: 0em;
  padding: 5px 5px 5px 5px;
  color: white;
  background-color: #75bfab;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  border: 15px solid #34AC8B;
  width: auto;
}

.box{
  margin-left: 0em;
  padding-left:  25px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  border: 10px solid #E7E6E6;
  background-color: #E7E6E6;
  border-radius: 15px;

}

// highlight
.hl{
  margin-left: 0em;
  padding-left:  25px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  padding-right:  25px;
  color: white;
  background-color: #F14124;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  border-radius: 15px;
}

.hl2{
  margin-left: 0em;
  padding-left:  25px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  padding-right:  25px;
  color: white;
  background-color: #34AC8B;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  border-radius: 15px;
}

.hl3{
  margin-left: 0em;
  padding-left:  25px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  padding-right:  25px;
  color: white;
  background-color: #4FADF3;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  border-radius: 15px;
}

code.sourceCode {
  font-size: 1.7em;
  // or try font-size: xx-large; 
}


div.cell-output-stdout {
  font-size: 1.5em;
}


/*
.reveal div.cell-output {
  border-color: #000;
  border-style: solid;
  border-width: 4px;
  max-height: 1800px;
  margin-bottom: 500px;
}
*/


// regression analysis process 1
.RAP1{
  margin: 1em 0;
  border: 7px solid #FF8021;
  border-radius: 10px;
}

.RAP1-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #FF8021;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.RAP1-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: #FAD3B7;
}

// regression analysis process 2
.RAP2{
  margin: 1em 0;
  border: 7px solid #34AC8B;
  border-radius: 10px;
}

.RAP2-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #34AC8B;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.RAP2-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: #BCDCD0;
}

// regression analysis process 3
.RAP3{
  margin: 1em 0;
  border: 7px solid #A7EA52;
  border-radius: 10px;
}

.RAP3-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #A7EA52;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.RAP3-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: #E3F6C6;
}

// regression analysis process 3
.RAP4{
  margin: 1em 0;
  border: 7px solid #4FADF3;
  border-radius: 10px;
}

.RAP4-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #4FADF3;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.RAP4-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: #C9E0F9;
}

.container {
  line-height: 1.4;
  text-align: center;
  padding: 44px;
  color: #333;
}

.highlight-container, .highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #F5B686;
  transform: rotate(1deg);
  top: -1px;
  left: -1px;
  border-radius: 10% 10% 10% 10%;
  padding: 5px 3px 3px 5px;
}


.L{
  margin-left: 0em;
  padding: 10px 10px 10px 50px;
  color: white;
  background-color: #4FADF3;
  font-size: 1em;
  border-radius: 15px;
}

.L1{
  margin-left: 0em;
  padding: 10px 10px 10px 25px;
  color: white;
  background-color: #4FADF3;
  font-size: 1em;
  border-radius: 15px;
}

.L2{
  margin-left: 0em;
  padding: 10px 10px 10px 25px;
  color: black;
  border: 7px solid #4FADF3;
  font-size: 1em;
  border-radius: 15px;
}

.I{
  margin-left: 0em;
  padding: 10px 10px 10px 50px;
  color: white;
  background-color: #FF8021;
  font-size: 1em;
  border-radius: 15px;
}

.N{
  margin-left: 0em;
  padding: 10px 10px 10px 50px;
  color: white;
  background-color: #A7EA52;
  font-size: 1em;
  border-radius: 15px;
}

.E{
  margin-left: 0em;
  padding: 10px 10px 10px 50px;
  color: white;
  background-color: #34AC8B;
  font-size: 1em;
  border-radius: 15px;
}

.E1{
  margin-left: 0em;
  padding: 10px 10px 10px 25px;
  color: white;
  background-color: #34AC8B;
  font-size: 1em;
  border-radius: 15px;
}

.E2{
  margin-left: 0em;
  padding: 10px 10px 10px 25px;
  color: black;
  border: 7px solid #34AC8B;
  font-size: 1em;
  border-radius: 15px;
}


// Food Supply colors
.FS1{
  margin: 1em 0;
  border: 3px solid #1A2B43;
  border-radius: 10px;
}

.FS1-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #1A2B43;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.FS1-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

.FS2{
  margin: 1em 0;
  border: 3px solid #406994;
  border-radius: 10px;
}

.FS2-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #406994;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.FS2-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

.FS3{
  margin: 1em 0;
  border: 3px solid #55AEF3;
  border-radius: 10px;
}

.FS3-title {
  margin-left: 0em;
  padding-left:  15px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #55AEF3;
  font-size: 1em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  //background-image: url("goal.png");
}

.FS3-cont {
  margin-left: 0em;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

.qt-t{
  margin-left: 0em;
  padding: 10px 10px 10px 25px;
  color: white;
  background-color: #213c96;
  font-size: 1em;
  border-radius: 15px;
}

.qt{
  margin-left: 0em;
  padding: 10px 10px 10px 25px;
  color: black;
  border: 7px solid #213c96;
  font-size: 1em;
  border-radius: 15px;
}





